<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.deepwaterooo.sdk"
          android:versionCode="7"
          android:versionName="3.2">

  <!-- User permissions -->
  <!--
      Declare this required feature if you want to make the app available to BLE-capable
      devices only.  If you want to make your app available to devices that don't support BLE,
      you should omit this in the manifest.  Instead, determine BLE capability by using
      PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE)
  -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- <uses-permission android:name="android.permission.CAMERA"/> -->

  <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
  <!-- <uses-feature -->
  <!--     android:name="android.hardware.camera.autofocus" -->
  <!--     android:required="false"/> -->
  <!-- <uses-feature -->
  <!--     android:name="android.hardware.camera.flash" -->
  <!--     android:required="false"/> -->
  <!-- <uses-feature android:name="android.hardware.screen.landscape"/> -->

  <!--       android:name=".DWApplication"-->
  <application
      android:name=".DWApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:supportsRtl="true">

    <activity
        android:name=".activities.authentication.DWBeforeStartActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.authentication.DWLoginActivity"
        android:theme="@style/DWAppTheme.NoActionBar.keyboard"
        android:exported="true"/>
        <!-- android:windowSoftInputMode="stateHidden|adjustResize"/> for tmp-->

    <activity
        android:name=".activities.authentication.DWSignUpActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar.keyboard"
        android:windowSoftInputMode="stateHidden|adjustResize"/>

    <activity
        android:name=".activities.authentication.DWDialogActivity"
        android:exported="true"
        android:theme="@style/Theme.Transparent"/>
    <activity
        android:name=".activities.BaseActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.authentication.DWActivateAccountActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.DWHaveAccountActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.authentication.DWForgotPasswordActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar.keyboard"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".activities.DWSplashScreenActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.DWAllSetForGameActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>

    <activity
        android:name=".activities.authentication.DWParentalCheckActivity"
        android:exported="true"
        android:theme="@style/ParentalCheck.Transparent"/>

    <activity
        android:name=".activities.CustomWebViewActivity"
        android:exported="true"
        android:theme="@style/DWAppTheme.NoActionBar"/>
    <!-- <activity -->
    <!--     android:name="com.soundcloud.android.crop.CropImageActivity" -->
    <!--     android:exported="true" -->
    <!--     android:theme="@style/Base.Theme.AppCompat"/> -->

    <!-- 这个不需要 -->
    <!-- <activity --> 
    <!--     android:name=".utils.VoiceVolumnUtil" -->
    <!--     android:exported="true" -->
    <!--     android:theme="@style/Base.Theme.AppCompat"/> -->
    <receiver android:name=".utils.UABroadcastReceiver"
              android:exported="true">
      <!-- <intent-filter> -->
      <!--   <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
      <!-- </intent-filter> -->
    </receiver>

    <receiver android:name=".utils.NetworkChangeReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>