<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.deepwaterooo.dw"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <!-- android:theme="@style/Theme.Dw" -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">

      <!-- android:theme="@style/DWAppTheme.NoActionBar" -->
        <activity
            android:name=".DemoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:exported="true"
            android:theme="@style/DWAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <meta-data -->
            <!--     android:name="android.app.lib_name" -->
            <!--     android:value="" /> -->
        </activity>
<!-- 我是想要竖屏的 -->
        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:theme="@style/DWAppTheme.NoActionBar"/>
        <!-- android:screenOrientation="sensorLandscape" -->
    </application>
</manifest>